body {
	background: rgba(0,0,0,0.95);
	color: #efefef;
}
a:link, a:visited {
  color: #eb0068;
  text-decoration: none; 
  cursor: pointer; }
a:hover {
  color: #eb0068;
  text-decoration: underline; }
a:active {
  color: #eb0068; }
a.updatelink:link, a.updatelink:visited {
  color: #eb0068; }
#wrapper {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5); }
#install {
	background-color: #222;
	-webkit-box-shadow: -1px 1px 4px #333;
}
	#install a {
		color: #efefef;
	}
.pane {
  background-color: rgba(255,255,255,0.035); }
  
.pane:hover {
background-color: rgba(255,255,255,0.025); }

.whats {
	  color: #333333;
	 }
#bar {
  opacity: 0.6;
}
	#timer {
		background-color: #333;
	}

/*form*/
input {
	background-color: #2f2f2f;
	border-color: #555;
	color: #efefef;
}
	input.submit:hover, input:focus {
		border-color: #345533;
	}
	a.statboard:link, a.statboard:visited {
		color: #efefef;
	}