.Mint h2 {
  color: #b2d679; }

.Fever h2 {
  color: #d04334; }

.Feedburner h2 {
  color: #d07c34; }

.TwitterFollowers h2 {
  color: #6aa9ca; }

.Ember h2 {
  color: #dd752c; }

.Greader h2 {
  color: #ebeff9; }

.Weather h2 {
  color: #97d6ff; }
  
.Mint h3 {
  color: #abdb6c; }

.Fever h3 {
  color: #be2829; }

.Feedburner h3 {
  color: #bf6f28; }

.TwitterFollowers h3 {
  color: #51819a; }

.Ember h3 {
  color: #dd6a19; }

.Greader h3 {
  color: #d4def9; }

.Weather h3 {
  color: #81ceff; }